<div class="nav-header">
    <div class="brand-logo">
        <a href="/AdminDashboard/Index">
            <img src="~/adminweb/images/hanahotel.png" alt="" >
        </a>
    </div>
</div>

<style>
    .nav-header {
        display: flex;
        justify-content: center; /* căn giữa ngang */
        align-items: center; /* căn giữa dọc */
    }

    .brand-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .brand-logo img {
            max-width: 100%;
            height: auto;
        }

</style>