<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">

            <li>
                <a href="/Default/Index/" class="nav-link" aria-expanded="false">
                    <i class="fa-solid fa-house nav-icon"></i>
                    <span class="nav-text">Trang khách hàng</span>
                </a>
            </li>

            <li>
                <a href="/AdminUser/Index/" class="nav-link" aria-expanded="false">
                    <i class="fa-solid fa-user-friends nav-icon"></i>
                    <span class="nav-text">Người dùng</span>
                </a>
            </li>

            @* <li>
                <a href="/AdminRole/Index/" class="nav-link" aria-expanded="false">
                    <i class="fa-solid fa-user-tag nav-icon"></i>
                    <span class="nav-text">Vai trò</span>
                </a>
            </li>

            <li>
                <a href="/AdminRoleAssign/Index/" class="nav-link" aria-expanded="false">
                    <i class="fa-solid fa-user-plus nav-icon"></i>
                    <span class="nav-text">Gán vai trò</span>
                </a>
            </li> *@

            <li>
                <a href="/AdminBooking/Index/" class="nav-link" aria-expanded="false">
                    <i class="fa-solid fa-calendar-check nav-icon"></i>
                    <span class="nav-text">Đặt phòng</span>
                </a>
            </li>

            <li>
                <a href="/AdminHotel/Index/" class="nav-link" aria-expanded="false">
                    <i class="fa-solid fa-hotel nav-icon"></i>
                    <span class="nav-text">Khách sạn</span>
                </a>
            </li>

            <li>
                <a href="/AdminRoom/Index/" class="nav-link" aria-expanded="false">
                    <i class="fa-solid fa-bed nav-icon"></i>
                    <span class="nav-text">Phòng</span>
                </a>
            </li>

            <li>
                <a href="/Service/Index/" class="nav-link" aria-expanded="false">
                    <i class="fa-solid fa-concierge-bell nav-icon"></i>
                    <span class="nav-text">Dịch vụ</span>
                </a>
            </li>

            <li>
                <a href="/Review/Index/" class="nav-link" aria-expanded="false">
                    <i class="fa fa-list-alt nav-icon"></i>
                    <span class="nav-text">Đánh giá</span>
                </a>
            </li>

            <li>
                <a href="/Promotion/Index/" class="nav-link" aria-expanded="false">
                    <i class="fas fa-tags nav-icon"></i>
                    <span class="nav-text">Khuyến mại</span>
                </a>
            </li>

            <li>
                <a href="/AdminAbout/Index/" class="nav-link" aria-expanded="false">
                    <i class="fa-solid fa-info-circle nav-icon"></i>
                    <span class="nav-text">Giới thiệu</span>
                </a>
            </li>

            <li>
                <a href="/AdminReport/Index/" class="nav-link" aria-expanded="false">
                    <i class="fa-solid fa-chart-line nav-icon"></i>
                    <span class="nav-text">Thống kê và báo cáo</span>
                </a>
            </li>
        </ul>
    </div>
</div>
